body {
    font-family: 'Lato', sans-serif;
    background: #f7f7f7;
}

body.logged-in {
    background: #2A3F54;
}

.profile_info {
    padding: 25px 15px 10px;
}

.default-navbar .navbar {
    background: #34495e;
    border-radius: 0;
}

.default-navbar .navbar-brand {
    line-height: 24px;
}

.default-navbar .nav.navbar-nav > li > a {
    color: #fff !important;
}

textarea {
    resize: none;
}

input[type="file"] {
    margin-bottom: 15px;
}

/* Import CSV Form */

#csv_form {
    border: 2px solid #bfbfbf;
    padding: 20px;
    border-radius: 5px;
}

#cars_content_table tbody {
    max-height: 500px;
    overflow-y: scroll;
}

#cars_content_table tbody td:hover {
    outline: #1ABB9C solid 2px;
    outline-offset: -1px;
}

.border-error {
    outline: #e74c3c solid 2px;
    outline-offset: -1px;
}

#cars_content_table input[type="text"],
#cars_content_table textarea {
    border: 0;
    outline: 0;
    overflow: hidden;
    width: 100%;
    background: #f7f7f7;
    line-height: 1.5;
}

#cars_content_table textarea {
    resize: none;
}

#cars_content_table input[type="text"]:focus,
#cars_content_table textarea:focus {
    overflow: visible;
}

#cars_content_table.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 0;
}

#cars_content_table td:hover {
    cursor: text;
}

/* ----- */

.public-listing {
    border-collapse: collapse !important;
    font-size: 13px;
    width: 100%;
}

.public-listing thead th {
    background: none;
    color: #000;
}

.public-listing thead tr.primary {
    font-size: 16px;
}

.public-listing thead tr.secondary {
    text-decoration: underline;
}

.public-listing tbody tr:nth-child(even) {
    background: #eeeeee;
}

.public-listing tbody tr:nth-child(odd) {
    background: #ffffff;
}

.public-listing tbody td {
    text-transform: uppercase;
}

.public-listing tbody td.remarks {
    text-transform: none;
}

.public-listing tbody td.current {
    background-color: #00bfff !important;
    color: #000;
}

.public-listing tbody td.old {
    background-color: #ff0000 !important;
    color: #fff;
}

.public-listing tbody td.sold {
    background-color: #ffff00 !important;
    color: #000;
}

.public-listing th,
.public-listing td {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: top;
}

/* ----- */

#errors, #success {
    display: none;
}

#errors, #success {
    position: fixed;
    z-index: 99;
    right: 15px;
    top: 15px;
    width: 375px;
}
.form-required:after,
.form-required-text:before {
    content: '*';
    color: #a94442;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: #1abb9c;
}

.dataTables_wrapper > .row {
    overflow-y: hidden !important;
    overflow-x: auto !important;
}

.dataTables_filter {
    width: auto;
}

button a,
button a:hover,
button a:visited {
    color: #fff;
}

textarea {
    padding: 0;
}

@media only screen and (max-width : 480px) {
    .dataTables_filter,
    .dataTables_paginate {
        float: left;
    }
}

@media only screen and (max-width : 768px) {
    .fixedHeader-floating {
        display: none;
    }
}